<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SkillBridge AI</title>

    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">

    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap" rel="stylesheet">

    <link rel="stylesheet"
    href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css">
</head>

<body>

<!-- NAVBAR -->

<nav class="navbar">

    <div class="logo">
        <i class="fa-solid fa-graduation-cap"></i>
        SkillBridge AI
    </div>

    <ul>

        <li><a href="#">Home</a></li>

        <li><a href="#features">Features</a></li>

        <li><a href="#about">About</a></li>

        <li><a href="/login">Login</a></li>

    </ul>

</nav>


<!-- HERO -->

<section class="hero">

<div class="hero-left">

<h1>
AI Career Mentor For Every Student
</h1>

<p>

Upload your resume, discover missing skills,
generate personalized career roadmaps,
practice interviews and find internships —
all in one intelligent platform.

</p>

<a href="/login">

<button class="btn">

Get Started

</button>

</a>

</div>


<div class="hero-right">

<img src="https://images.unsplash.com/photo-1516321318423-f06f85e504b3?w=900"
alt="AI">

</div>

</section>


<!-- FEATURES -->

<section id="features">

<h2>

Platform Features

</h2>


<div class="cards">


<div class="card">

<i class="fa-solid fa-file"></i>

<h3>

Resume Analyzer

</h3>

<p>

Upload resume and receive AI suggestions.

</p>

</div>



<div class="card">

<i class="fa-solid fa-road"></i>

<h3>

Career Roadmap

</h3>

<p>

Get step-by-step roadmap for your dream career.

</p>

</div>



<div class="card">

<i class="fa-solid fa-comments"></i>

<h3>

AI Mentor

</h3>

<p>

Ask career questions anytime.

</p>

</div>



<div class="card">

<i class="fa-solid fa-briefcase"></i>

<h3>

Internship Finder

</h3>

<p>

Explore internships based on your skills.

</p>

</div>



<div class="card">

<i class="fa-solid fa-chart-line"></i>

<h3>

Skill Progress

</h3>

<p>

Track your learning journey.

</p>

</div>



<div class="card">

<i class="fa-solid fa-user-graduate"></i>

<h3>

Interview Practice

</h3>

<p>

Practice HR and technical interviews.

</p>

</div>


</div>

</section>


<!-- ABOUT -->

<section id="about">

<h2>

Why SkillBridge AI?

</h2>

<p>

SkillBridge AI helps students become industry-ready
using Artificial Intelligence.

Our platform analyzes resumes, recommends
skills, creates learning roadmaps and prepares
students for placements.

</p>

</section>



<!-- FOOTER -->

<footer>

<h3>

SkillBridge AI

</h3>

<p>

Built with ❤️ for HACKHAZARDS '26

</p>

<p>

© 2026 All Rights Reserved

</p>

</footer>


<script src="{{ url_for('static', filename='js/script.js') }}"></script>

</body>

</html>